.browse {
    position: relative;
    padding-bottom: 30px
}

.browse:after {
    content: "";
    display: block;
    clear: both
}

@media (min-width: 40.0625em) {
    .browse {
        padding-top:30px
    }
}

.browse__link {
    font-family: "GDS Transport",arial,sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-decoration: underline;
    //text-decoration-thickness: max(1px, .0625rem);
    //text-underline-offset: .1em;
    font-family: "GDS Transport",arial,sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 400;
    font-size: 16px;
    font-size: 1rem;
    line-height: 1.25;
    position: relative;
    display: block;
    padding: 15px 25px 20px 0;
    color: #505a5f
}

@media print {
    .browse__link {
        font-family: sans-serif
    }
}

.browse__link:hover {
    //text-decoration-thickness: max(3px, .1875rem, .12em);
    //-webkit-text-decoration-skip-ink: none;
    //text-decoration-skip-ink: none;
    -webkit-text-decoration-skip: none;
    //text-decoration-skip: none
}

.browse__link:focus {
    outline: 3px solid transparent;
    color: #0b0c0c;
    background-color: #fd0;
    box-shadow: 0 -2px #fd0,0 4px #0b0c0c;
    text-decoration: none
}

.browse__link:link {
    color: #1d70b8
}

.browse__link:visited {
    color: #4c2c92
}

.browse__link:hover {
    color: #003078
}

.browse__link:active {
    color: #0b0c0c
}

.browse__link:focus {
    color: #0b0c0c
}

@media print {
    .browse__link {
        font-family: sans-serif
    }
}

@media (min-width: 40.0625em) {
    .browse__link {
        font-size:19px;
        font-size: 1.1875rem;
        line-height: 1.3157894737
    }
}

@media print {
    .browse__link {
        font-size: 14pt;
        line-height: 1.15
    }
}

@media (min-width: 40.0625em) {
    .browse__link {
        padding:15px 30px 20px 15px;
        font-family: "GDS Transport", arial, sans-serif;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        font-weight: 400;
        font-size: 14px;
        font-size: .875rem;
        line-height: 1.1428571429
    }
}

@media print and (min-width: 40.0625em) {
    .browse__link {
        font-family:sans-serif
    }
}

@media (min-width: 40.0625em) and (min-width: 40.0625em) {
    .browse__link {
        font-size:16px;
        font-size: 1rem;
        line-height: 1.25
    }
}

@media print and (min-width: 40.0625em) {
    .browse__link {
        font-size:14pt;
        line-height: 1.2
    }
}

.browse__link:hover {
    background: #f3f2f1;
    color: #1d70b8
}

.browse__link:focus:hover {
    box-shadow: 0 -2px #f3f2f1,0 3px #0b0c0c;
    color: #0b0c0c
}

.browse__link:after {
    position: absolute;
    top: 50%;
    margin-top: -8px;
    right: 10px;
    float: right;
    content: "\203A"
}

.browse__link.loading {
    cursor: default;
    background: transparent url(/assets/collections/loading-a61f7620847c981f789bbee7328c664c1d55ebcd395a38431a1fa7c40aec9766.gif) 95% 50% no-repeat
}

.browse__link.loading:after {
    content: ""
}

.browse__link.browse__link--active {
    background: #1d70b8;
    color: #fff
}

.browse__link.browse__link--active .browse__description {
    color: #fff
}

.browse__link.browse__link--active:focus {
    background: #fd0;
    color: #0b0c0c
}

.browse__link.browse__link--active:hover .browse__description {
    color: #fff
}

.browse__link.browse__link--active:focus:hover .browse__description {
    color: #0b0c0c
}

.browse__normal-link {
    font-family: "GDS Transport",arial,sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 700;
    font-size: 14px;
    font-size: .875rem;
    line-height: 1.1428571429;
    display: block;
    padding: 5px 30px 5px 0
}

@media print {
    .browse__normal-link {
        font-family: sans-serif
    }
}

@media (min-width: 40.0625em) {
    .browse__normal-link {
        font-size:16px;
        font-size: 1rem;
        line-height: 1.25
    }
}

@media print {
    .browse__normal-link {
        font-size: 14pt;
        line-height: 1.2
    }
}

.browse__description {
    font-family: "GDS Transport",arial,sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 400;
    font-size: 12px;
    font-size: .75rem;
    line-height: 1.25;
    color: #0b0c0c;
    margin: 0;
    padding: 0
}

@media print {
    .browse__description {
        font-family: sans-serif
    }
}

@media (min-width: 40.0625em) {
    .browse__description {
        font-size:14px;
        font-size: .875rem;
        line-height: 1.4285714286
    }
}

@media print {
    .browse__description {
        font-size: 12pt;
        line-height: 1.2
    }
}

.browse__list {
    padding: 0;
    margin: 0;
    list-style: none
}

.browse__list-item {
    position: relative;
    padding: 0;
    margin: 0
}

.browse__heading {
    font-family: "GDS Transport",arial,sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 700;
    font-size: 18px;
    font-size: 1.125rem;
    line-height: 1.1111111111;
    margin-bottom: 10px;
    margin-top: 10px;
    outline: none
}

@media print {
    .browse__heading {
        font-family: sans-serif
    }
}

@media (min-width: 40.0625em) {
    .browse__heading {
        font-size:27px;
        font-size: 1.6875rem;
        line-height: 1.1111111111
    }
}

@media print {
    .browse__heading {
        font-size: 18pt;
        line-height: 1.15
    }
}

@media (min-width: 40.0625em) {
    .browse__heading {
        margin-top:0;
        margin-bottom: 15px
    }
}

.browse__list-header {
    font-family: "GDS Transport",arial,sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 700;
    font-size: 16px;
    font-size: 1rem;
    line-height: 1.25;
    margin: 30px 0 5px 0
}

@media print {
    .browse__list-header {
        font-family: sans-serif
    }
}

@media (min-width: 40.0625em) {
    .browse__list-header {
        font-size:19px;
        font-size: 1.1875rem;
        line-height: 1.3157894737
    }
}

@media print {
    .browse__list-header {
        font-size: 14pt;
        line-height: 1.15
    }
}

.browse__inner {
    padding-bottom: 30px
}

@media (min-width: 40.0625em) {
    .browse__inner {
        border-left:1px solid #b1b4b6;
        min-height: 950px
    }
}

@media (min-width: 40.0625em) {
    .browse__inner--curated {
        padding-left:30px
    }
}

@media (max-width: 48.0525em) {
    .browse__section-pane .browse__inner--curated {
        padding-left:0
    }
}

.browse__title {
    font-family: "GDS Transport",arial,sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 700;
    font-size: 14px;
    font-size: .875rem;
    line-height: 1.1428571429;
    margin: 0 0 5px 0
}

@media print {
    .browse__title {
        font-family: sans-serif
    }
}

@media (min-width: 40.0625em) {
    .browse__title {
        font-size:16px;
        font-size: 1rem;
        line-height: 1.25
    }
}

@media print {
    .browse__title {
        font-size: 14pt;
        line-height: 1.2
    }
}

@media (min-width: 48.0625em) {
    .browse__inner--alphabetical {
        padding-left:96px
    }
}

.browse__sort-order {
    font-family: "GDS Transport",arial,sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 700;
    font-size: 18px;
    font-size: 1.125rem;
    line-height: 1.1111111111;
    float: left;
    width: 75px;
    padding: 11px 0 15px 15px;
    margin: 0;
    margin-left: -90px
}

@media print {
    .browse__sort-order {
        font-family: sans-serif
    }
}

@media (min-width: 40.0625em) {
    .browse__sort-order {
        font-size:27px;
        font-size: 1.6875rem;
        line-height: 1.1111111111
    }
}

@media print {
    .browse__sort-order {
        font-size: 18pt;
        line-height: 1.15
    }
}

@media (max-width: 48.0525em) {
    .browse__sort-order {
        display:none
    }
}

.browse__detailed-guidance {
    margin-top: 30px
}

@media (min-width: 40.0625em) {
    .browse__root-pane,.browse__section-pane,.browse__subsection-pane {
        float:right;
        min-height: 3px
    }
}

@media (min-width: 48.0625em) {
    .browse__root-pane {
        width:25%
    }
}

.browse__section-pane {
    z-index: 2;
    background: #fff;
    position: relative;
    transition: width .4s,margin-left .4s
}

@media (min-width: 40.0625em) {
    .browse__section-pane {
        width:35%
    }
}

.browse__section-pane .browse__link {
    text-decoration: none
}

.browse__section-pane .browse__link .browse__title {
    text-decoration: underline;
    //text-decoration-thickness: max(1px, .0625rem);
    //text-underline-offset: .1em
}

.browse__section-pane .browse__link:hover .browse__title {
    //text-decoration-thickness: max(3px, .1875rem, .12em);
    -webkit-text-decoration-skip-ink: none;
    //text-decoration-skip-ink: none;
    -webkit-text-decoration-skip: none;
    //text-decoration-skip: none
}

@media (min-width: 40.0625em) {
    .browse__section-pane .browse__heading {
        padding-left:15px
    }
}

.browse__subsection-pane {
    opacity: 0;
    transition-property: width, opacity, margin-right;
    transition-delay: 0s, 0s, 0s;
    transition-duration: .4s,0s,.4s;
    height: 0;
    overflow: hidden
}

@media (min-width: 40.0625em) {
    .browse__subsection-pane {
        width:27%;
        margin-right: 13%;
        height: auto
    }
}

@media (min-width: 40.0625em) {
    .browse__subsection-pane .browse__inner--alphabetical {
        padding-left:100px
    }
}

.browse__subsection-pane .browse__inner--alphabetical .browse__normal-link {
    padding: 10px 30px 10px 0
}

.browse__subsection-pane .browse__sort-order {
    margin-left: -100px
}

@media (min-width: 40.0625em) {
    .browse__subsection-pane .browse__sort-order {
        display:block
    }
}

.browse--two-columns .browse__root-pane {
    display: none
}

@media (min-width: 40.0625em) {
    .browse--two-columns .browse__root-pane {
        display:block;
        width: 25%;
        margin-right: 0
    }
}

.browse--two-columns .browse__subsection-pane {
    opacity: 0
}

.browse--three-columns .browse__root-pane {
    display: none
}

@media (min-width: 40.0625em) {
    .browse--three-columns .browse__root-pane {
        display:block;
        width: 25%;
        margin-right: 0
    }
}

.browse--three-columns .browse__section-pane {
    display: none
}

@media (min-width: 40.0625em) {
    .browse--three-columns .browse__section-pane {
        display:block;
        margin-right: 0;
        margin-left: -13%;
        width: 25%
    }

    .browse--three-columns .browse__section-pane .browse__inner {
        padding-left: 0
    }
}

.browse--three-columns .browse__section-pane .browse__sort-order {
    display: none
}

.browse--three-columns .browse__subsection-pane {
    transition-delay: 0s,.4s,0s;
    opacity: 1;
    height: auto
}

@media (min-width: 40.0625em) {
    .browse--three-columns .browse__subsection-pane {
        width:50%;
        margin-right: 13%
    }
}

.browse--three-columns .browse__link--inactive,.browse--three-columns .browse__description {
    color: #505a5f
}

.browse--three-columns .browse__link--inactive:hover {
    color: #1d70b8
}

.browse--three-columns .browse__link--inactive:hover .browse__description {
    color: #0b0c0c
}

.browse--three-columns .browse__link--inactive:focus .browse__description {
    color: #0b0c0c
}
